$bodyColor: #f4a261;
$display: #3db3a5;
$characters: white;
$rightSide: #e38738;
$border: white;
$top: #a7b6d3;


body {
  background-color: #f4a261;

  .App-header {
    text-align: center;
  }
  .calculator {
    border: 1px solid $border;
    height: 385px;
    width: 247px;
    margin: 0 auto;

    .display {
      height: 80px;
      background-color: $display;
      color: $characters;
      line-height: 80px;
      font-size: 22px;
      padding: 0 10px;
      text-align: right;
    }
  }
  .underDisplay {
    display: flex;
    flex-wrap: wrap;

    .first {
      background-color: $top;
    }

    .line {
      display: flex;
      height: 61px;
      width: 100%;
    }

    .box {
      border: 1px solid $border;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px;
      color: $characters;
      font-size: 25px;
      font-weight: bolder;
    }
    .box:nth-child(4){
      background-color: $rightSide;
    }
  }
}
.Fifth.line{
  .box:nth-child(3){
    background-color: $rightSide;
  }
  div:nth-child(1) {
    width: 122px;
  }
}


